* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-logo{
    background-color: #FFFFFF;
    padding: 16px 0px 16px 24px;

    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#logo{
    height: 100px;
    vertical-align: middle;
}

#logo-text{
    font-size: 60px;
    vertical-align: middle;
}

body{
    background-color: #38AAFF;
}

#container{
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 75%;
    padding-bottom: 16px;
    margin: 60px auto;
}

.horizontal-centering{
    padding-left: 80px;
}

.buttons-section{
    border-bottom: 3px solid #F6F8F9;
    margin-bottom: 30px;
}

.button{
    border-radius: 6px;
    padding: 8px 20px;
    margin: 20px 10px 16px 0;
    font-size: 20px;
    font-weight: bold;
}

.button:hover {
    background-color:#AB5CE6;
}


.button-blue{
    border: none;
    background-color: #36AAF5;
}

.button-white{
    border: 2px solid #BDC4CA;
    background-color: #FFFFFF;
}


.data-container{
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    max-width: 80%;
}

.checkmark{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 12px;
}

.data-row{
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 16px;
}

.checkmark::before{
    content: '\2713';  
}

.checked{
    border: 2px solid #26C2A5;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.checked::before{
    color: #26C2A5;
    content: '\2713';
}

.unchecked{
    border: 2px solid #FA230A;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.unchecked::before{
    color: #FA230A;
    content: '\2715';
}

.task-description{
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
    height: 24px;
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    padding: 0 12px;
}

.task-blue{
    background-color: #34A9ED;
}

.task-purple{
    background-color: #AB5CE6;
}

.task-bluegreen{
    background-color: #2CC6AB; 
}

.task-orange{
    background-color: #FA9B00;    
}

.task-violet{
    background-color: #EC4A9D;
}

.task-yellow{
    background-color: #A3D114;
}